http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works/W4234567890
  response:
    status: 200
    headers:
      content-type: application/json
      x-api-pool: common
    body:
      string: |
        {"id":"https://openalex.org/W4234567890","doi":"https://doi.org/10.4018/jnn.20180101","title":null,"display_name":null,"publication_year":2018,"publication_date":"2018-01-01","ids":{"openalex":"https://openalex.org/W4234567890","doi":"https://doi.org/10.4018/jnn.20180101"},"language":null,"primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.4018/jnn.20180101","pdf_url":null,"source":{"id":"https://openalex.org/S4210239967","display_name":"Journal of Nanotoxicology and Nanomedicine","issn_l":"2379-7444","issn":["2379-7444","2379-7452"],"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":true,"host_organization":"https://openalex.org/P4310320424","host_organization_name":"IGI Global","host_organization_lineage":["https://openalex.org/P4310320424"],"host_organization_lineage_names":["IGI Global"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"paratext","type_crossref":"journal-issue","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[],"institution_assertions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":{"min":0,"max":61},"biblio":{"volume":"3","issue":"1","first_page":null,"last_page":null},"is_retracted":false,"is_paratext":true,"primary_topic":null,"topics":[],"keywords":[],"concepts":[{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer science","level":0,"score":0.26217645}],"mesh":[],"locations_count":1,"locations":[{"is_oa":false,"landing_page_url":"https://doi.org/10.4018/jnn.20180101","pdf_url":null,"source":{"id":"https://openalex.org/S4210239967","display_name":"Journal of Nanotoxicology and Nanomedicine","issn_l":"2379-7444","issn":["2379-7444","2379-7452"],"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":true,"host_organization":"https://openalex.org/P4310320424","host_organization_name":"IGI Global","host_organization_lineage":["https://openalex.org/P4310320424"],"host_organization_lineage_names":["IGI Global"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false}],"best_oa_location":null,"sustainable_development_goals":[],"grants":[],"datasets":[],"versions":[],"referenced_works_count":0,"referenced_works":[],"related_works":["https://openalex.org/W972044","https://openalex.org/W6008397","https://openalex.org/W5963666","https://openalex.org/W563404","https://openalex.org/W5574817","https://openalex.org/W5281039","https://openalex.org/W2882144","https://openalex.org/W1802230","https://openalex.org/W12205962","https://openalex.org/W11016543"],"abstract_inverted_index":null,"cited_by_api_url":"https://api.openalex.org/works?filter=cites:W4234567890","counts_by_year":[],"updated_date":"2025-06-13T19:07:33.542163","created_date":"2022-05-12"}
  recorded_at: 2025-10-07 12:55:31
recorded_with: VCR-vcr/2.0.0
