http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works/W4234567890
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0'
      x-ratelimit-credits-used: '0'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9655'
      x-ratelimit-remaining-usd: '0.9655'
      x-ratelimit-reset: '39959'
    body:
      string: |
        {"id":"https://openalex.org/W4234567890","doi":"https://doi.org/10.4018/jnn.20180101","title":null,"display_name":null,"publication_year":2018,"publication_date":"2018-01-01","ids":{"openalex":"https://openalex.org/W4234567890","doi":"https://doi.org/10.4018/jnn.20180101"},"language":"ng","primary_location":{"id":"doi:10.4018/jnn.20180101","is_oa":false,"landing_page_url":"https://doi.org/10.4018/jnn.20180101","pdf_url":null,"source":{"id":"https://openalex.org/S4210239967","display_name":"Journal of Nanotoxicology and Nanomedicine","issn_l":"2379-7444","issn":["2379-7444","2379-7452"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320424","host_organization_name":"IGI Global","host_organization_lineage":["https://openalex.org/P4310320424"],"host_organization_lineage_names":["IGI Global"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Journal of Nanotoxicology and Nanomedicine","raw_type":"journal-issue"},"type":"paratext","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":null,"display_name":"Bakhtiyor Rasulev","orcid":null},"institutions":[{"id":"https://openalex.org/I57328836","display_name":"North Dakota State University","ror":"https://ror.org/05h1bnb22","country_code":"US","type":"education","lineage":["https://openalex.org/I57328836"]},{"id":"https://openalex.org/I125467818","display_name":"Dakota State University","ror":"https://ror.org/016yv6y68","country_code":"US","type":"education","lineage":["https://openalex.org/I125467818"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Bakhtiyor Rasulev","raw_affiliation_strings":["North Dakota State University, USA"],"affiliations":[{"raw_affiliation_string":"North Dakota State University, USA","institution_ids":["https://openalex.org/I125467818","https://openalex.org/I57328836"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":[],"corresponding_institution_ids":["https://openalex.org/I57328836","https://openalex.org/I125467818"],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":"3","issue":"1","first_page":null,"last_page":null},"is_retracted":null,"is_paratext":true,"is_xpac":false,"primary_topic":null,"topics":[],"keywords":[{"id":"https://openalex.org/keywords/computer-science","display_name":"Computer science","score":0.2621764540672302}],"concepts":[{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer science","level":0,"score":0.2621764540672302}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.4018/jnn.20180101","is_oa":false,"landing_page_url":"https://doi.org/10.4018/jnn.20180101","pdf_url":null,"source":{"id":"https://openalex.org/S4210239967","display_name":"Journal of Nanotoxicology and Nanomedicine","issn_l":"2379-7444","issn":["2379-7444","2379-7452"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320424","host_organization_name":"IGI Global","host_organization_lineage":["https://openalex.org/P4310320424"],"host_organization_lineage_names":["IGI Global"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Journal of Nanotoxicology and Nanomedicine","raw_type":"journal-issue"}],"best_oa_location":null,"sustainable_development_goals":[],"awards":[],"funders":[],"has_content":{"pdf":false,"grobid_xml":false},"content_urls":null,"referenced_works_count":0,"referenced_works":[],"related_works":["https://openalex.org/W11016543","https://openalex.org/W2882144","https://openalex.org/W6008397","https://openalex.org/W972044","https://openalex.org/W1802230","https://openalex.org/W5574817","https://openalex.org/W563404","https://openalex.org/W5281039","https://openalex.org/W5963666","https://openalex.org/W12205962"],"abstract_inverted_index":null,"counts_by_year":[],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2022-05-12T00:00:00"}
  recorded_at: 2026-03-02 12:54:01
recorded_with: VCR-vcr/2.0.0
