http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&mailto=rainer%40krugs.de
  response:
    status: 200
    headers:
      content-type: application/json
      x-api-pool: common
    body:
      string: |
        {"meta":{"count":52235,"db_response_time_ms":63,"page":1,"per_page":200,"groups_count":17},"group_by":[{"key":"https://openalex.org/types/article","key_display_name":"article","count":41465},{"key":"https://openalex.org/types/book-chapter","key_display_name":"book-chapter","count":3269},{"key":"https://openalex.org/types/book","key_display_name":"book","count":2223},{"key":"https://openalex.org/types/preprint","key_display_name":"preprint","count":1438},{"key":"https://openalex.org/types/dissertation","key_display_name":"dissertation","count":1426},{"key":"https://openalex.org/types/review","key_display_name":"review","count":1017},{"key":"https://openalex.o[...]
