http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=openalex%3AW3045921891%7CW3046863325&per-page=1&mailto=rainer%40krugs.de
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":2,"db_response_time_ms":8,"page":1,"per_page":1,"groups_count":null},"results":[{"id":"https://openalex.org/W3046863325","doi":"https://doi.org/10.1145/3383583.3398584","title":"Trends of Publications' Citations and Altmetrics Based on Open Access Types","display_name":"Trends of Publications' Citations and Altmetrics Based on Open Access Types","publication_year":2020,"publication_date":"2020-08-01","ids":{"openalex":"https://openalex.org/W3046863325","doi":"https://doi.org/10.1145/3383583.3398584","mag":"3046863325"},"language":"en","primary_location":{"id":"doi:10.1145/3383583.3398584","is_oa":true,"landing_page_url":"https://doi.org/10.1145/3383583.3398584","pdf_url":"https://dl.acm.org/doi/pdf/10.1145/3383583.3398584","source":null,"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Proceedings of the ACM/IEEE Joint Conference on Digital Libraries in 2020"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://dl.acm.org/doi/pdf/10.1145/3383583.3398584","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5089069811","display_name":"Chifumi Nishioka","orcid":"https://orcid.org/0000-0002-1853-3038"},"institutions":[{"id":"https://openalex.org/I22299242","display_name":"Kyoto University","ror":"https://ror.org/02kpeqv85","country_code":"JP","type":"education","lineage":["https://openalex.org/I22299242"]}],"countries":["JP"],"is_corresponding":false,"raw_author_name":"Chifumi Nishioka","raw_affiliation_strings":["Kyoto University, Kyoto, Japan"],"affiliations":[{"raw_affiliation_string":"Kyoto University, Kyoto, Japan","institution_ids":["https://openalex.org/I22299242"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5031600582","display_name":"Michael F\u00e4rber","orcid":"https://orcid.org/0000-0001-5458-8645"},"institutions":[{"id":"https://openalex.org/I102335020","display_name":"Karlsruhe Institute of Technology","ror":"https://ror.org/04t3en479","country_code":"DE","type":"education","lineage":["https://openalex.org/I102335020","https://openalex.org/I1305996414"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Michael F\u00e4rber","raw_affiliation_strings":["Karlsruhe Institute of Technology, Karlsruhe, Germany"],"affiliations":[{"raw_affiliation_string":"Karlsruhe Institute of Technology, Karlsruhe, Germany","institution_ids":["https://openalex.org/I102335020"]}]}],"institutions":[],"countries_distinct_count":2,"institutions_distinct_count":2,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.50788825,"cited_by_count":5,"citation_normalized_percentile":{"value":0.71195145,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":89,"max":97},"biblio":{"volume":null,"issue":null,"first_page":"503","last_page":"504"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10102","display_name":"scientometrics and bibliometrics research","score":0.9990000128746033,"subfield":{"id":"https://openalex.org/subfields/1804","display_name":"Statistics, Probability and Uncertainty"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social Sciences"}},"topics":[{"id":"https://openalex.org/T10102","display_name":"scientometrics and bibliometrics research","score":0.9990000128746033,"subfield":{"id":"https://openalex.org/subfields/1804","display_name":"Statistics, Probability and Uncertainty"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social Sciences"}},{"id":"https://openalex.org/T11937","display_name":"Research Data Management Practices","score":0.9476000070571899,"subfield":{"id":"https://openalex.org/subfields/1710","display_name":"Information Systems"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical Sciences"}},{"id":"https://openalex.org/T13607","display_name":"Academic Publishing and Open Access","score":0.9301000237464905,"subfield":{"id":"https://openalex.org/subfields/1802","display_name":"Information Systems and Management"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/altmetrics","display_name":"Altmetrics","score":0.949191689491272},{"id":"https://openalex.org/keywords/license","display_name":"License","score":0.6770656704902649},{"id":"https://openalex.org/keywords/social-media","display_name":"Social media","score":0.6326080560684204},{"id":"https://openalex.org/keywords/citation","display_name":"Citation","score":0.6192469000816345},{"id":"https://openalex.org/keywords/computer-science","display_name":"Computer science","score":0.5475895404815674},{"id":"https://openalex.org/keywords/world-wide-web","display_name":"World Wide Web","score":0.3852391242980957},{"id":"https://openalex.org/keywords/data-science","display_name":"Data science","score":0.36558985710144043}],"concepts":[{"id":"https://openalex.org/C2778407487","wikidata":"https://www.wikidata.org/wiki/Q14565201","display_name":"Altmetrics","level":2,"score":0.949191689491272},{"id":"https://openalex.org/C2780560020","wikidata":"https://www.wikidata.org/wiki/Q79719","display_name":"License","level":2,"score":0.6770656704902649},{"id":"https://openalex.org/C518677369","wikidata":"https://www.wikidata.org/wiki/Q202833","display_name":"Social media","level":2,"score":0.6326080560684204},{"id":"https://openalex.org/C2778805511","wikidata":"https://www.wikidata.org/wiki/Q1713","display_name":"Citation","level":2,"score":0.6192469000816345},{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer science","level":0,"score":0.5475895404815674},{"id":"https://openalex.org/C136764020","wikidata":"https://www.wikidata.org/wiki/Q466","display_name":"World Wide Web","level":1,"score":0.3852391242980957},{"id":"https://openalex.org/C2522767166","wikidata":"https://www.wikidata.org/wiki/Q2374463","display_name":"Data science","level":1,"score":0.36558985710144043},{"id":"https://openalex.org/C111919701","wikidata":"https://www.wikidata.org/wiki/Q9135","display_name":"Operating system","level":1,"score":0.0}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.1145/3383583.3398584","is_oa":true,"landing_page_url":"https://doi.org/10.1145/3383583.3398584","pdf_url":"https://dl.acm.org/doi/pdf/10.1145/3383583.3398584","source":null,"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Proceedings of the ACM/IEEE Joint Conference on Digital Libraries in 2020"}],"best_oa_location":{"id":"doi:10.1145/3383583.3398584","is_oa":true,"landing_page_url":"https://doi.org/10.1145/3383583.3398584","pdf_url":"https://dl.acm.org/doi/pdf/10.1145/3383583.3398584","source":null,"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Proceedings of the ACM/IEEE Joint Conference on Digital Libraries in 2020"},"sustainable_development_goals":[],"grants":[{"funder":"https://openalex.org/F4320334764","funder_display_name":"Japan Society for the Promotion of Science","award_id":"18K13235, 20K20132"},{"funder":"https://openalex.org/F4320334789","funder_display_name":"Japan Science and Technology Agency","award_id":"JPMJCR19U1"}],"awards":[],"funders":[{"id":"https://openalex.org/F4320334764","display_name":"Japan Society for the Promotion of Science","ror":"https://ror.org/00hhkn466"},{"id":"https://openalex.org/F4320334789","display_name":"Japan Science and Technology Agency","ror":"https://ror.org/00097mb19"}],"has_content":{"pdf":true,"grobid_xml":true},"referenced_works_count":6,"referenced_works":["https://openalex.org/W2938946739","https://openalex.org/W2766528118","https://openalex.org/W2741809807","https://openalex.org/W1996515099","https://openalex.org/W3098501485","https://openalex.org/W2965202507"],"related_works":["https://openalex.org/W2748952813","https://openalex.org/W2618017038","https://openalex.org/W2166317738","https://openalex.org/W2073023209","https://openalex.org/W3150373829","https://openalex.org/W1990918794","https://openalex.org/W2808646405","https://openalex.org/W2795304587","https://openalex.org/W3167885405","https://openalex.org/W4384945517"],"abstract_inverted_index":{"This":[0],"paper":[1],"analyzes":[2],"trends":[3],"of":[4,58],"citation":[5],"and":[6,24,44,53,63],"altmetrics":[7],"with":[8,29],"respect":[9],"to":[10,51],"different":[11],"OA":[12,38],"types":[13],"(e.g.,":[14,61],"gold,":[15],"hybrid,":[16,42],"green).":[17],"The":[18],"analysis":[19],"based":[20],"on":[21],"Unpaywall,":[22],"Altmetric,":[23],"COCI":[25],"shows":[26],"that":[27],"articles":[28,46,66],"a":[30],"green":[31],"license":[32],"obtain":[33],"more":[34,48],"citations":[35],"than":[36],"other":[37],"types.":[39],"Regarding":[40],"patents,":[41],"green,":[43],"bronze":[45,65],"get":[47],"mentions":[49],"compared":[50],"closed":[52],"gold":[54],"articles.":[55],"In":[56],"terms":[57],"social":[59],"media":[60],"Twitter":[62],"Facebook),":[64],"receive":[67],"the":[68],"most":[69],"mentions.":[70]},"counts_by_year":[{"year":2025,"cited_by_count":2},{"year":2023,"cited_by_count":1},{"year":2022,"cited_by_count":2}],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2025-10-10T00:00:00"}],"group_by":[]}
  recorded_at: 2025-11-17 17:13:33
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=openalex%3AW3045921891%7CW3046863325&per-page=200&mailto=rainer%40krugs.de&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":2,"db_response_time_ms":8,"page":null,"per_page":200,"next_cursor":"IlsnLUluZmluaXR5JywgMCwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1czMDQ1OTIxODkxJ10i","groups_count":null},"results":[{"id":"https://openalex.org/W3046863325","doi":"https://doi.org/10.1145/3383583.3398584","title":"Trends of Publications' Citations and Altmetrics Based on Open Access Types","display_name":"Trends of Publications' Citations and Altmetrics Based on Open Access Types","publication_year":2020,"publication_date":"2020-08-01","ids":{"openalex":"https://openalex.org/W3046863325","doi":"https://d[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=cites%3AW3046863325%7CW3045921891&per-page=1&mailto=rainer%40krugs.de
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":5,"db_response_time_ms":9,"page":1,"per_page":1,"groups_count":null},"results":[{"id":"https://openalex.org/W4311043552","doi":"https://doi.org/10.36312/esaintika.v6i3.897","title":"Online and Distance Learning Research in The Last 30 Years: Real Contribution in Physics Learning","display_name":"Online and Distance Learning Research in The Last 30 Years: Real Contribution in Physics Learning","publication_year":2022,"publication_date":"2022-11-30","ids":{"openalex":"https://openalex.org/W4311043552","doi":"https://doi.org/10.36312/esaintika.v6i3.897"},"language":"en","primary_location":{"id":"doi:10.36312/esaintika.v6i3.897","is_oa":true,"landing_page_url":"https://doi.org/10.36312/esaintika.v6i3.897","pdf_url":"https://journal-center.litpam.com/index.php/e-Saintika/article/download/897/604","source":{"id":"https://openalex.org/S4210194320","display_name":"Jurnal Penelitian dan Pengkajian Ilmu Pendidikan e-Saintika","issn_l":"2615-6881","issn":["2615-6881"],"is_oa":true,"is_in_doaj":false,"is_core":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[null],"host_organization_lineage_names":[],"type":"journal","raw_type":"journal-article"},"license":"cc-by-sa","license_id":"https://openalex.org/licenses/cc-by-sa","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Jurnal Penelitian dan Pengkajian Ilmu Pendidikan: e-Saintika"},"type":"article","indexed_in":["crossref","doaj"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://journal-center.litpam.com/index.php/e-Saintika/article/download/897/604","any_repository_has_fulltext":false},"authorships":[{"author_positio[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=cites%3AW3046863325%7CW3045921891&per-page=200&mailto=rainer%40krugs.de&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":5,"db_response_time_ms":14,"page":null,"per_page":200,"next_cursor":"IlsnLUluZmluaXR5JywgMCwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1c3M[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=cited_by%3AW3046863325%7CW3045921891&per-page=1&mailto=rainer%40krugs.de
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":38,"db_response_time_ms":11,"page":1,"per_page":1,"groups_count":null},"results":[{"id":"https://openalex.org/W2250539671","doi":"https:[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=cited_by%3AW3046863325%7CW3045921891&per-page=200&mailto=rainer%40krugs.de&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":38,"db_response_time_ms":12,"page":null,"per_page":200,"next_cursor":"IlsnLUluZmluaXR5JywgMTQ0LCAnaHR0cHM6Ly9vcGVuYWxleC5vc[...]
