http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '100000'
      x-ratelimit-remaining: '99896'
      x-ratelimit-reset: '29069'
    body:
      string: |
        {"meta":{"count":143845,"db_response_time_ms":58,"page":1,"per_page":1,"groups_count":null},"results":[{"ids":{"openalex":"https://openalex.org/W2162348455","doi":"https://doi.org/10.1038/35002501","mag":"2162348455","pmid":"https://pubmed.ncbi.nlm.nih.gov/10706275"}}],"group_by":[]}
  recorded_at: 2026-01-26 15:55:31
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Afinance%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '100000'
      x-ratelimit-remaining: '99895'
      x-ratelimit-reset: '29069'
    body:
      string: |
        {"meta":{"count":237744,"db_response_time_ms":146,"page":1,"per_page":1,"groups_count":null},"results":[{"ids":{"openalex":"https://openalex.org/W3121759882","doi":"https://doi.org/10.1086/250042","mag":"3121759882"}}],"group_by":[]}
  recorded_at: 2026-01-26 15:55:31
recorded_with: VCR-vcr/2.0.0
