http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=DOESNTEXIST%3A1
  response:
    status: 400
    headers:
      content-type: application/json
      ratelimit-limit: '5'
      ratelimit-remaining: '9'
      ratelimit-reset: '1'
    body:
      string: |
        {"error":"Invalid query parameters error.","message":"DOESNTEXIST is not a valid field. Valid fields are underscore or hyphenated versions of: abstract.search, abstract.search.no_stem, apc_list.currency, apc_list.provenance, apc_list.value, apc_list.value_usd, apc_paid.currency, apc_paid.provenance, apc_paid.value, apc_paid.value_usd, author.id, author.orcid, authors_count, authorships.affiliations.institution_ids, authorships.author.id, authorships.author.orcid, authorships.countries, authorships.institutions.continent, authorships.institutions.c[...]
- request:
    method: GET
    uri: https://api.openalex.org/works/W1775749144?select=DOESNTEXIST
  response:
    status: 400
    headers:
      content-type: application/json
      ratelimit-limit: '5'
      ratelimit-remaining: '8'
      ratelimit-reset: '1'
    body:
      string: |
        {"error":"Invalid query parameters error.","message":"DOESNTEXIST is not a valid select field. Valid fields for select are: id, doi, title, display_name, relevance_score, publication_year, publication_date, ids, language, primary_location, sources, type, type_crossref, indexed_in, open_access, authorships, institution_assertions, institutions, countries_distinct_count, institutions_distinct_count, corresponding_author_ids, corresponding_institution_ids, apc_list, apc_paid, fwci, is_authors_truncated, has_fulltext, fulltext_origin, cited_by_count, citation_normalized_percentile, cited_by_percentile_year, biblio, is_retracted, is_paratext, is_xpac, primary_topic, topics, keywords, concepts, mesh, locations_count, locations, best_oa_location, sustainable_development_goals, grants, awards, funders, datasets, versions, has_content, referenced_works_count, referenced_works, related_works, abstract_inverted_index, cited_by_api_url, counts_by_year, updated_date, created_date."}
  recorded_at: 2025-11-17 17:13:44
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&cursor=%2A&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '100'
      ratelimit-remaining: '99'
      ratelimit-reset: '1'
    body:
      string: |
        {"meta":{"count":138876,"db_response_time_ms":32,"page":null,"per_page":200,"next_cursor":"InN0YW5kYXJkIg==","groups_count":16},"group_by":[{"key":"https://openalex.org/types/article","key_display_name":"article","count":123965},{"key":"https://openalex.org/types/book","key_display_name":"book","count":3002},{"key":"https://openalex.org/types/book-chapter","key_display_name":"book-chapter","count":5107},{"key":"https://openalex.org/types/dataset","key_display_name":"dataset","count":246},{"key":"https://openalex.org/types/dissertation","key_display_name":"dissertation","count":1818},{"key":"https://openalex.org/types/editorial","key_display_name":"editorial","count":167},{"key":"https://openalex.org/types/erratum","key_display_name":"erratum","count":43},{"key":"https://openalex.org/types/letter","key_display_name":"letter","count":306},{"key":"https://openalex.org/types/libguides","key_display_name":"libguides","count":22},{"key":"https://openalex.org/types/other","key_display_name":"other","count":498},{"key":"https://openalex.org/types/paratext","key_display_name":"paratext","count":147},{"key":"https://openalex.org/types/preprint","key_display_name":"preprint","count":1367},{"key":"https://openalex.org/types/reference-entry","key_display_name":"reference-entry","count":24},{"key":"https://openalex.org/types/report","key_display_name":"report","count":281},{"key":"https://openalex.org/types/review","key_display_name":"review","count":1882},{"key":"https://openalex.org/types/standard","key_display_name":"standard","count":1}]}
  recorded_at: 2025-11-17 17:13:45
[...]
