http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&cursor=%2A&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '2000000'
      x-ratelimit-limit-usd: '200'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '1999284'
      x-ratelimit-remaining-usd: '199.9284'
      x-ratelimit-reset: '39950'
    body:
      string: '{"meta": {"count": 145616, "db_response_time_ms": 32, "page": null,
        "per_page": 200, "next_cursor": "InN1cHBsZW1lbnRhcnktbWF0ZXJpYWxzIg==", "groups_count":
        18, "cost_usd": 0.0001}, "group_by": [{"key": "https://openalex.org/types/article",
        "key_display_name": "article", "count": 129243}, {"key": "https://openalex.org/types/book",
        "key_display_name": "book", "count": 3037}, {"key": "https://openalex.org/types/book-chapter",
        "key_display_name": "book-chapter", "count": 6113}, {"key": "https://openalex.org/types/database",
        "key_display_name": "database", "count": 1}, {"key": "https://openalex.org/types/dataset",
        "key_display_name": "dataset", "count": 280}, {"key": "https://openalex.org/types/dissertation",
        "key_[...]
