http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '2000000'
      x-ratelimit-limit-usd: '200'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '1999286'
      x-ratelimit-remaining-usd: '199.9286'
      x-ratelimit-reset: '39951'
    body:
      string: '{"meta": {"count": 145616, "db_response_time_ms": 19, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"ids": {"openalex":
        "https://openalex.org/W2162348455", "doi": "https://doi.org/10.1038/35002501",
        "mag": "2162348455", "pmid": "https://pubmed.ncbi.nlm.nih.gov/10706275"}}],
        "group_by": []}'
  recorded_at: 2026-03-02 12:54:09
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Afinance%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '2000000'
      x-ratelimit-limit-usd: '200'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '1999285'
      x-ratelimit-remaining-usd: '199.9285'
      x-ratelimit-reset: '39950'
    body:
      string: '{"meta": {"count": 241534, "db_response_time_ms": 24, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"ids": {"openalex":
        "https://openalex.org/W3121759882", "doi": "https://doi.org/10.1086/250042",
        "mag": "3121759882"}}], "group_by": []}'
  recorded_at: 2026-03-02 12:54:10
recorded_with: VCR-vcr/2.0.0
