http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity+AND+finance%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&mailto=test%40example.com&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      ratelimit-limit: '2000000'
      ratelimit-remaining: '1999966'
      ratelimit-reset: '34945'
    body:
      string: |
        {"meta":{"count":424,"db_response_time_ms":68,"page":1,"per_page":1,"groups_count":null},"results":[{"ids":{"openalex":"https://openalex.org/W4235089722","doi":"https://doi.org/10.1111/1468-2346.00131"}}],"group_by":[]}
  recorded_at: 2026-01-16 14:17:35
recorded_with: VCR-vcr/2.0.0
