http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&cursor=%2A&mailto=test%40example.com&api_key=LfX3r2As7S6tJqcEhpTP6M
  response:
    status: 200
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"meta":{"count":52211,"db_response_time_ms":135,"page":null,"per_page":200,"next_cursor":"InN0YW5kYXJkIg==","groups_count":17},"group_by":[{"key":"https://openalex.org/types/article","key_display_name":"article","count":41442},{"key":"https://openalex.org/types/book","key_display_name":"book","count":2223},{"key":"https://openalex.org/types/book-chapter","key_display_name":"book-chapter","count":3269},{"key":"https://openalex.org/types/dataset","key_display_name":"dataset","count":231},{"key":"https://openalex.org/types/dissertation","key_display_name":"dissertation","count":1426},{"key":"https://openalex.org/types/editorial","key_display_name":"editorial","count":144},{"key":"https://openalex[...]
[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&mailto=test%40example.com&api_key=LfX3r2As7S6tJqcEhpTP6M&cursor=InN0YW5kYXJkIg%3D%3D
  response:
    status: 200
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"meta":{"count":52211,"db_response_time_ms":156,"page":null,"per_page":200,"next_cursor":null,"group[...]
