http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=DOESNTEXIST%3A1
  response:
    status: 403
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"error":"Invalid query parameters error.","message":"DOESNTEXIST is not a valid field. Valid fields are underscore or hyphenated versions of: abstract.search, abstract.search.no_stem, apc_list.currency, apc_list.provenance, apc_list.value, apc_list.value_usd, apc_paid.currency, apc_paid.provenance, apc_paid.value, apc_paid.value_usd, author.id, author.orcid, authors_count, authorships.affiliations.institution_ids, authorships.author.id, authorships.author.orcid, authorships.countries, authorships.institutions.continent, authorships.institutions.c[...]
- request:
    method: GET
    uri: https://api.openalex.org/works/W1775749144?select=DOESNTEXIST
  response:
    status: 403
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"error":"Invalid query parameters error.","message":"DOESNTEXIST is not a valid select field. Valid fields for select are: id, doi, title, display_name, relevance_score, publication_year, publication_date, ids, language, primary_location, sources, type, type_crossref, indexed_in, open_access, authorships, institution_assertions, countries_distinct_count, institutions_distinct_count, corresponding_author_ids, corresponding_institution_ids, apc_list, apc_paid, fwci, is_authors_truncated, has_fulltext, fulltext_origin, cited_by_count, citation_normalized_percentile, cited_by_percentile_year, biblio, is_retracted, is_paratext, primary_topic, topics, keywords, concepts, mesh, locations_count, locations, best_oa_location, sustainable_development_goals, grants, datasets, versions, referenced_works_count, referenced_works, related_works, abstract_inverted_index, abstract_inverted_index_v3, cited_by_api_url, counts_by_year, updated_date, created_date."}
  recorded_at: 2025-09-08 08:36:21
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&cursor=%2A&api_key=<api-key>
  response:
    status: 200
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"meta":{"count":52235,"db_response_time_ms":206,"page":null,"per_page":200,"next_cursor":"InN0YW5kYXJkIg==","groups_count":17},"group_by":[{"key":"https://openalex.org/types/article","key_display_name":"article","count":41465},{"key":"https://openalex.org/types/book","key_display_name":"book","count":2223},{"key":"https://openalex.org/types/book-chapter","key_display_name":"book-chapter","count":3269},{"key":"https://openalex.org/types/dataset","key_display_name":"dataset","count":231},{"key":"https://openalex.org/types/dissertation","key_display_name":"dissertation","count":1426},{"key":"https://openalex.org/types/editorial","key_display_name":"editorial","count":144},{"key":"https://openalex[...]
[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity%2Cto_publication_date%3A2010-01-01&group_by=type&per_page=200&api_key=<api-key>&cursor=InN0YW5kYXJkIg%3D%3D
  response:
    status: 200
    headers:
      Content-Type: application/json
      X-Api-Pool: common
    body:
      string: |
        {"meta":{"count":52235,"db_response_time_ms":209,"page":null,"per_page":200,"next_cursor":null,"groups_count":0},"group_by":[{"key":"https:/[...]
